services:
  news-summarizer:
    build: .
    image: news-summarization
    container_name: news-summarizer
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./backend:/app/backend
    restart: always
